<div class="container w-75 shadow rounded-3 my-5">
  <div class="row py-4">
    <h1 class="h1 col-12">Krzysztof Kamiński</h1>
  </div>
  <div class="row py-4">
    <h2 class="h2">About</h2>
    <p>Ambitious and motivated student of life. Love programming, experimenting and solving problems. Proud future dad of a samoyed.</p>
  </div>
  <div class="row py-4">
    <h2 class="h2">Education</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Programming in Java | WSB Merito
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>October 2023 - June 2024</strong> Postgraduate studies
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Master of Business Management | Vistula University
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>October 2021 - February 2024</strong> Management spec. International Enterprises
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Bachelor of Mathematics | UMCS Lublin
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>October 2018 - June 2021</strong> Mathematics spec. Programming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <h2 class="h2">Projects</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Status</th>
        <th scope="col" class="col-2">Name</th>
        <th scope="col" class="col-7">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td><span class="badge bg-warning">In Progress</span></td>
        <td>Mastering Bootstrap</td>
        <td>
          <p>My code editor didn't Lorem Ipsum so we're left with...</p>
          <p>Chipi chipi, chapa chapa</p>
          <p>Dubidubi, dabadaba</p>
          <p>Mágico mi dubidubi</p>
            <p>boom, boom, boom, boom</p>
          <p>Chipi chipi, chapa chapa</p>
          <p>Dubidubi, dabadaba</p>
          <p>Mágico mi dubidubi boom</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet />
